<md-content class="md-padding" layout="column">
	<md-input-container>
		<label for="busqueda">Buscar</label>
		<input type="text" ng-model="q" ng-keypress="buscar($event, q)"/>
	</md-input-container>
	<md-tabs ng-if="!buscando" md-selected="busquedaTab">
		<!--<md-tab ui-sref="buscar.todo({q: q})">Todo</md-tab>-->
		<md-tab ui-sref="buscar.anuncios({q: q})">Anuncios <span class="counter" ng-bind="anunciosTotal"></md-tab>
		<md-tab ui-sref="buscar.persoas({q: q})">Persoas <span class="counter" ng-bind="persoasTotal"></md-tab>
	</md-tabs>
	<ui-view></ui-view>
</md-content>
