<md-dialog>
	<md-content>
		<form novalidate layout="column" name="transferenciaForm">
			<md-autocomplete ng-if="!fixed"
			        md-selected-item="transferencia.para"
			        md-search-text="buscando"
			        md-items="persoa in buscarEnPersoas(buscando)"
			        md-item-text="persoa.nome"
			        placeholder="Para">
				<span md-highlight-text="buscando">{{ persoa.nome }}</span>
			</md-autocomplete>
			<md-input-container ng-if="fixed">
				<label for="para">Para</label>
				<input type="text" ng-model="transferencia.para.nome" disabled/>
			</md-input-container>
			<md-input-container>
				<label for="horas">Horas</label>
				<input type="number" ng-pattern="/^[0-9]+$/" min="0" value="0" name="horas" ng-model="transferencia.horas" required/>
			</md-input-container>
			<md-input-container>
				<label for="minutos">Minutos</label>
				<input type="number" ng-pattern="/^[0-9]+$/" min="0" max="59" value="0" name="minutos" ng-model="transferencia.minutos" required/>
			</md-input-container>
			<md-input-container>
				<label for="concepto">Concepto</label>
				<input type="text" name="concepto" ng-model="transferencia.concepto" required/>
			</md-input-container>
		</form>
	</md-content>
	<div class="md-actions" layout="column">
		<div layout=row layout-align="end">
			<md-button ng-click="cancelar()">Cancelar</md-button>
			<md-button ng-disabled="transferenciaForm.$invalid || (transferencia.horas == 0 && transferencia.minutos == 0) || (transferencia.para.conta == session.conta) || !transferencia.para" ng-click="aceptar(transferencia)" class="md-primary">Transferir</md-button>
		</div>
		<div ng-if="transferenciaForm.mensaxeErro" class="error">{{ transferenciaForm.mensaxeErro }}</div>
	</div>
</md-dialog>
