<md-item-content layout="row" layout-align="start start">
	<div class="md-tile-left">
		<img ng-src="{{ item.anunciante.avatar }}" class="face" alt="{{ item.anunciante.nome }}"/>
	</div>
	<div class="md-tile-content anuncio">
		<div layout="column">
			<a ui-sref="perfil.anuncios({ id: item.anunciante.id })" class="title black">{{ item.anunciante.nome }}</a>
			<div layout="row">
				<elapsed-time from="item.dateCreated"></elapsed-time>
				<span class="iconos-anuncio" ng-if="editabel({ anuncio:item })">
					<span class="link-icon">
						<md-tooltip md-delay="1000">Editar</md-tooltip>
						<md-icon class="small grey" alt="Editar"
						         md-svg-src="assets/icons/ic_edit_48px.svg"
						         ng-click="editar()"></md-icon>
					</span>
					<span class="link-icon">
						<md-tooltip md-delay="1000">Eliminar</md-tooltip>
						<md-icon class="small grey" alt="Eliminar"
						         md-svg-src="assets/icons/ic_remove_circle_48px.svg"
						         ng-click="eliminar($event)"></md-icon>
					</span>
				</span>
			</div>
		</div>
		<p class="texto" contenteditable="false" ng-model="texto" style="display: inline-block; width: 100%" ng-bind-html="textoHtml"></p>
	</div>
</md-item-content>
