<div class="progress" ng-if="cargando && !items" layout="row" layout-sm="column" layout-align="space-around">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-if="!cargando && items" layout="column">
	<md-list on-scroll-end="cargarMais()">
		<div ng-repeat="item in items" class="entrada-animada">
			<md-item>
				<div feed-item layout-fill></div>
				<md-divider md-inset ng-if="!$last"></md-divider>
			</md-item>
		</div>
	</md-list>
	<div class="progress" ng-if="cargandoMais" layout="row" layout-sm="column" layout-align="space-around">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<md-button ng-if="items.length < total" class="md-raised md-primary" ng-click="cargarMais()">Máis</md-button>
</div>
<div ng-if="items.length == total && items.length > 0" style="padding-left: 80px">
	<span class="grey">Non hai máis anuncios</span>
</div>
<div ng-if="items.length == 0">
	<span class="error">Non se atopan anuncios</span>
</div>