<div layout="column">
	<md-list on-scroll-end="buscarMais()">
		<div ng-repeat="persoa in persoas">
			<md-item>
				<md-item-content layout="row" layout-align="start start">
					<div class="md-tile-left">
						<img ng-src="{{ persoa.avatar }}" class="face" alt="{{ persoa.nome }}" />
					</div>
					<div class="md-tile-content anuncio">
						<a ui-sref="perfil.anuncios({ id: persoa.id })" class="title black">{{ persoa.nome }}</a>
						<p class="texto" ng-bind-html="persoa.descripcion" style="display: inline-block; width: 100%"></p>
					</div>
				</md-item-content>
				<md-divider md-inset ng-if="!$last"></md-divider>
			</md-item>
		</div>
	</md-list>
	<md-button ng-if="persoas.length < total" class="md-raised md-primary" ng-click="buscarMais()">Máis</md-button>
</div>
<div ng-if="persoas.length == total && persoas.length > 0" style="padding-left: 80px">
	<span class="grey">Non hai máis persoas</span>
</div>
<div ng-if="persoas.length == 0">
	<span class="error">Non se atopan persoas</span>
</div>
