<md-content flex class="md-padding">
	<form name="loginForm" ng-controller="loginController" layout="column">
		<md-input-container>
			<label>e-mail</label>
			<input ng-model="email"/>
		</md-input-container>
		<md-input-container>
			<label>contrasinal</label>
			<input ng-model="password" type="password"/>
		</md-input-container>
		<md-checkbox ng-model="manterSesion">lembrarme</md-checkbox>
		<md-button ng-disabled="!email || !password" class="md-raised md-primary" ng-click="login()">Entrar</md-button>
		<div ng-if="loginForm.$error.autenticada" class="error">{{ loginForm.mensaxeErro }}</div>
	</form>
</md-content>
