<div style="height: 100%" layout="row" flex>
	<div layout="column" layout-fill flex="20" style="border-right: 1px solid #888">
		<md-tooltip md-direction="right">Aquí irían as conversas abertas</md-tooltip>
		<div style="border-bottom: 1px solid #888; height: 48px; background: #EEE">
			<div class="title">Sala de chat</div>
		</div>
		<div style="border-bottom: 1px solid #888; height: 48px; background: #AAA">
			<md-tooltip md-direction="right">Conversa actual --&gt;</md-tooltip>
			<div class="title">Sala de chat</div>
		</div>
		<div style="border-bottom: 1px solid #888; height: 48px; background: #EEE">
			<div class="title">Sala de chat</div>
		</div>
	</div>
	<div layout="column" layout-fill layout-align="end" flex="70" style="border-right: 1px solid #888">
		<div class="title">bla bla bla</div>
		<div class="title">bla bla bla bla</div>
		<div>pois tes razón, ademáis bla bla bla</div>
		<div class="title">guai, pos bla bla e entón bla</div>
		<div>quedamos así, chaau</div>
		<md-input-container layout-fill style="background: #EEE">
			<input type="text"/>
		</md-input-container>
	</div>
	<div layout="column" layout-fill layout-align="start center" flex="10">
		<md-tooltip md-direction="left">Persoas nesta conversa</md-tooltip>
		<img style="width: 48px; height: 48px; border-radius: 30px" src="assets/sen-avatar.png"/>
		<img style="width: 48px; height: 48px; border-radius: 30px" src="assets/profile-pictures/profile (3).png"/>
		<img style="width: 48px; height: 48px; border-radius: 30px" src="assets/test.png"/>
	</div>
</div>
