<md-dialog>
	<md-content>
		<form novalidate layout="column" name="sinalForm">
			<md-input-container>
				<label for="antigo">Contrasinal antigo</label>
				<input type="password" ng-model="antigo" required/>
			</md-input-container>
			<md-input-container>
				<label for="novo">Contrasinal novo</label>
				<input type="password" name="novo" ng-model="novo" required/>
			</md-input-container>
			<md-input-container>
				<label for="repetir">Repetir novo</label>
				<input type="password" name="repetir" ng-model="repetir" required/>
			</md-input-container>
		</form>
	</md-content>
	<div class="md-actions" layout="column">
		<div layout=row layout-align="end">
			<md-button ng-click="cancelar()">Cancelar</md-button>
			<md-button ng-disabled="sinalForm.$invalid || novo != repetir" ng-click="aceptar()" class="md-primary">Mudar</md-button>
		</div>
		<div ng-if="sinalForm.mensaxeErro" class="error">{{ sinalForm.mensaxeErro }}</div>
	</div>
</md-dialog>
