<form name="novoAnuncioForm" novalidate layout="column">
	<div layout="row">
		<span style="width: 78px" layout-align="center">
			<img ng-src="{{ session.avatar }}" class="face" alt="{{ session.nome }}"/>
		</span>
		<md-input-container style="width: calc(100% - 78px)">
			<label for="areaNovoAnuncio">Publicar un anuncio</label>
			<textarea name="areaNovoAnuncio" ng-model="novoAnuncio.texto"></textarea>
		</md-input-container>
	</div>
	<div layout="row" layout-align="end">
		<md-button class="md-raised md-primary" ng-disabled="!novoAnuncio.texto" ng-click="publicar(novoAnuncio)">
			Publicar
		</md-button>
	</div>
</form>
