<md-content class="vista-perfil" layout="row" layout-sm="column">
	<div ui-view layout="column" flex="60" flex-sm="100" flex-order-sm="2"></div>
	<div class="gap" flex>&nbsp;</div>
	<div layout="column" class="perfil" flex="33" flex-sm="100" flex-order-sm="1" layout-align-sm="start center">
		<img ng-if="!editandoPerfil" id="avatar" class="avatar grande" ng-src="{{ perfil.avatar }}"/>
		<div ng-if="editandoPerfil">
			<editor-avatar orixinal="perfil.avatar" recortada="perfil.novoAvatar"></editor-avatar>
		</div>
		<h1 class="big-user-name" contenteditable="false" ng-model="perfil.nome"><span ng-bind="perfil.nome"/></h1>
		<tempo layout-fill ng-if="session.id == perfil.id" horas="perfil.horas" minutos="perfil.minutos" class="large"></tempo>
		<div contenteditable="false" ng-model="perfil.descripcion"><span ng-bind="perfil.descripcion"/></div>
		<div layout="column" class="button-block" ng-if="session">
			<div layout="column" ng-if="session.id == perfil.id">
				<md-button hide-sm class="md-primary" ng-show="!editandoPerfil" ng-click="editarPerfil()">Editar perfil</md-button>
				<md-button class="md-accent md-raised" ng-show="editandoPerfil" ng-click="gardarPerfil()">Gardar cambios</md-button>
				<md-button class="md-accent" ng-show="editandoPerfil" ng-click="cancelarEdicion()">Cancelar</md-button>
				<md-button class="md-primary" ng-click="facerTransferencia($event)">Facer transferencia</md-button>
				<md-button class="md-primary" ng-click="verMovementos()">Ver movementos</md-button>
				<md-button class="md-primary" ng-click="verAnuncios()">Ver anuncios</md-button>
				<md-button class="md-primary" ng-click="mudarContrasinal($event)">Mudar contrasinal</md-button>
				<md-button class="md-primary" ng-click="logout()">Pechar sesión</md-button>
			</div>
			<div layout="column" ng-if="session.id != perfil.id">
				<md-button class="md-primary" ng-click="facerTransferencia($event, perfil)">Facer transferencia</md-button>
				<md-button class="md-primary">Mandar mensaxe</md-button>
			</div>
		</div>
	</div>
</md-content>
