<md-content class="md-padding">
	<div layout="column" layout-fill ng-repeat="t in movementos">
		<transferencia class="medium small" fecha="t.dateCreated" completa="true" de="t.de" para="t.para" horas="t.horas" minutos="t.minutos" concepto="t.concepto"></transferencia>
		<md-divider ng-if="!$last"></md-divider>
	</div>
	<p class="grey">Non hai máis movementos</p>
</md-content>