<p style="{{ 'padding-top: 1em; position: relative; ' + (completa? 'text-align: center' : '') }}">
	<a class="black" ui-sref="perfil.anuncios({ id: de.id })">{{ de.nome }}</a>
	<span class="arrow-under {{ class }}">
		<md-tooltip ng-if="!completa">{{ concepto }}</md-tooltip>
		<tempo horas="horas" minutos="minutos" class="{{ class }}"/>
	</span>
	<a class="black" ui-sref="perfil.anuncios({ id: para.id })">{{ para.nome }}</a>
</p>
<span ng-if="completa">
	<span><elapsed-time from="fecha"></elapsed-time></span>
	{{ concepto }}
</span>
