<md-content style="overflow-x: hidden" layout="column" class="sidebar">
	<div class="avatar">
		<img ng-src="{{ session.avatar }}"/>
	</div>
	<div class="user-name" layout layout-align="start end">{{ session.nome }}</div>
	<md-content class="md-padding" layout="column">
		<h1>Horas disponíbeis</h1>
		<tempo horas="session.horas" minutos="session.minutos" class="small"></tempo>
		<h1>Último anuncio</h1>
		<elapsed-time from="ultimoAnuncio.dateCreated"></elapsed-time>
		<p class="resumo-anuncio" ng-bind-html="ultimoAnuncio.texto | ellipsisHtml:300"></p>
		<h1>Últimos movementos</h1>
		<div layout="column" layout-align="start" ng-repeat="t in ultimasTransferencias">
			<transferencia class="small" de="t.de" para="t.para" horas="t.horas" minutos="t.minutos" concepto="t.concepto"></transferencia>
		</div>
		<span ng-if="!ultimasTransferencias">Non hai movementos</span>
		<md-button class="md-primary md-raised" ng-click="facerTransferencia($event)">Nova transferencia</md-button>
		<div class="link-block" layout="column">
			<a ui-sref="perfil.anuncios({id: session.id})">Ver perfil completo</a>
			<a href="/logout">Sair</a>
		</div>
	</md-content>
</md-content>