%transition {
	@include vendor-prefix(transition, '0.5s ease all');
}

.entrada-animada {
	&.ng-enter {
		@extend %transition;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
	}

	&.ng-enter.ng-enter-active {
		opacity: 1;
		max-height: 200px;
		overflow: initial;
	}

	&.ng-leave {
		@extend %transition;
		overflow: hidden;
		opacity: 1;
		max-height: 200px;
	}

	&.ng-leave.ng-leave-active {
		opacity: 0;
		max-height: 0;
	}
}
