input.search-box {
	background: rgba(255, 255, 255, 0.5) url('/assets/icons/search_icon.png') 7px 4px no-repeat;	
	padding: 1px 15px 0px 30px;
	margin-top: -2px;
}

.toolbar-form {
	width: 15em !important;
	display: inline !important;
	position:relative;
	top:0px;
	border: none;
	outline: hidden;
	padding: 1px 15px 1px 15px;
	background: rgba(255, 255, 255, 0.5);	
	border-radius: 15px;
	height: 23px !important;
}

.toolbar-form:focus {
	box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 200, 0.4);
	outline: none;
}

.search-box-container {
	margin-right: 10px;
}

.counter {
	margin: 0;
		
	&::before {
		content: '('
	}

	&::after {
		content: ')'
	}	
}
