.sidebar {
	position: relative;
	font-size: 12px;
	
	.avatar {
		width: 304px;
		height: 304px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}

	.user-name {
		position: relative;
		top: -304px;
		padding: 14px;
		font-size: 3em;
		font-weight: 300;
		text-shadow: 0 0 3px #000;
		color: #FFF;
		height: 304px;
		margin-bottom: -304px;
	}

	.resumo-anuncio {
		max-height: 15em;
		overflow: hidden;
	}

	h1 {
		font-weight: bold;
		font-size: 1.2rem;
		margin: 1em 0 0 0;
	}

	h1:first-child {
		margin: 0;
	}

	p, a {
		font-size: 12px;
		margin: 0;
	}

	.link-block {
		margin-top: 1em;
	}
}
