.arrow-under {
	position: relative; 
	text-align: center; 
	display: inline-block; 
	margin: 0 3px; 
	top: -8px; 
	width: 80px; 
	border-bottom: 2px solid $gray;
	line-height: 1em;

	&.medium {
		width: 150px;
		top: -10px;
	}
}

.arrow-under:after {
	content: ' ';
	border: 5px solid transparent;
	border-left-color: $gray;
	position: absolute;
	right: -8px;
	bottom: -6px;
}

transferencia {
	@media #{$medium-and-up} {
		&.medium {
			font-size: 18px;
		}
	}

	@media #{$small-and-down} {
		&.small {
			font-size: 13px;
		}
	}
}
