md-content.vista-perfil {
	@media #{$medium-and-up} {
		width: 960px;
		max-width: 960px;
		min-width: 960px;
	}
}

.avatar {
	&.grande {
		width: 309px;
		height: 309px;
		border: 2px #ddd solid;
		border-radius: 160px;
		margin-top: 16px;
	}
}

.big-user-name {
	font-size: 3em;
	font-weight: 300;
	text-shadow: 0 0 3px #000;
	color: #FFF;
	margin: 6px 0 6px -2px;
}

.button-block {
	margin-top: 18px;
}

tempo[layout-fill] {
	@media #{$small-and-down} {
		text-align: center;
	}
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
