/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require angular-material/angular-material
*= require_self
*/

@import "variables";
@import "globals";
@import "animations";
@import "sidebar";
@import "transferencia";
@import "vista-perfil";
@import "busqueda";

[ng-cloak], 
[data-ng-cloak], 
[x-ng-cloak], 
.ng-cloak, 
.x-ng-cloak {
	display: none !important;
}

md-whiteframe {
	background: #fff;
	margin: 20px;
	padding: 20px; 
}

.error {
	color: red;
	/*text-align: center;*/
	margin: 20px 0 -10px 0;
}

.main-bar {
	background-color: rgba(63, 81, 181, 1);

	input.search {
		border-radius: 20px;
		background: $grey;
	}
}

.menu-icon {
	background-color: rgba(63, 81, 181, 1);
	border: none;
	margin-right: 16px;
	padding: 0;
	&.tabs {
		padding: 0 16px;
		margin: 0;
	}
}

.link-icon {
	cursor: pointer;
}

.content {
	padding: 20px 40px;
}

.md-toolbar-tools.md-toolbar-tools-bottom {
	-webkit-box-shadow: none !important;
	   -moz-box-shadow: none !important;
	        box-shadow: none !important;
}

.main-content {
	width: 100%;
	height: calc(100vh - 48px); 
	overflow: auto;

	@media #{$small-and-down} {
		height: calc(100vh - 112px);
	}

	md-content {
		width: 589px;
		@media #{$small-and-down} {
			width: 100%;
		}
	}
}

md-tabs {
	font-weight: normal !important;
}

.title {
	font-weight: bold;
}

a.black {
	text-decoration: none;
	color: black;

	&:hover {
		text-decoration: underline;
	}
}

.timestamp {
	color: lightgrey;
	.anuncio & {
		font-size: 	12px;
	}
}

img.face {
	border-radius: 30px;
	border: 1px solid #ddd;
	width: 48px;
	height: 48px;
	margin: 16px;
}

md-icon {
	&.x-small {
		width: 8px;
		height: 8px;
	}

	&.small {
		width: 12px;
		height: 12px;
	}

	&.medium {
		width: 24px;
		height: 24px;
		margin-top: -3px;
	}

	&.large {
		width: 48px;
		height: 48px;
		margin-top: -7px;
	}

	&.white {
		color: white;
	}

	&.grey {
		color: $gray;
	}
}

md-tab-label {
	span {
		margin: 8px;
		@media #{$small-and-down} {
			display: none;
		}
	}
}

.iconos-anuncio {
	margin-left: 12px;
	md-icon {
		margin-left: 6px;
	}
}

[contenteditable=true] {
	background-color: $light-blue;
	border : 1px;
	box-shadow : inset 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

tempo {
	.medium {
		font-size: 24px;
	}

	.large {
		font-size: 48px;
	}
}

md-tabs.md-default-theme.md-primary .md-paginator md-icon {
	color: white;
}

md-tabs {
	@media #{$medium-and-up} {
		overflow: hidden;
	}
}

.progress {
	margin: 20px 0;
}

.grey,.gray {
	color: $gray;
}

em {
	font-weight: bold;
	font-style: normal;
	color: pink;
}