// Media Query Ranges
$x-large-screen-up: 1501px !default;
$x-large-screen: 1500px !default;

$x-large-and-up: "only screen and (min-width : #{$x-large-screen-up})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;

.row {
	.col {
		@media #{$x-large-and-up} {
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.xl#{$i} {
					width: $perc;
					margin-left: 0;
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.offset-xl#{$i} {
					margin-left: $perc;
				}
				$i: $i + 1;
			}
		}
	}
}