/*
*= require ../application.css
*= require_self
*/

@import "../bower-components/materialize/sass/materialize";
@import "materialize-extra";

.title {
	font-weight: bold;
}

.side-nav.fixed li {
	line-height: 4rem;
}

.side-nav.fixed :first-child li:hover {
	background-color: inherit;
}

.top-nav {
	display: none;
	@media #{$medium-and-down} {
		display: inherit;
		position: fixed;
		top: 0;
		z-index: 997;
	}
}

.page-title {
	font-size: 2rem;
	margin-left: 1rem;
	line-height: 4.5rem;
	@media #{$medium-and-up} {
		line-height: 5rem;
		vertical-align: middle;
	}

	.side-nav.fixed :first-child & {
		line-height: 6rem;
		vertical-align: middle;
	}
}

.card-title {
	padding: 20px;
}

.no-margin {
	margin: 0 !important;
}

.row.last {
	margin-bottom: 0 !important;
}

header, main, footer {
	padding-left: 240px; 
	@media #{$medium-and-down} {
		padding-left: 0; 
		padding-top: 19px;
	}
}

@media #{$small-and-down} {
	.container {
		width: 100% !important;
		padding: 0 !important;
	}
}